*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font: normal normal normal 18px/26px SVN-New Athletic M54;;
}
body{
    display: flex;
    align-items: center;
    justify-content:  center;
    background: url("icons/Background.png") no-repeat ;
    background-size: cover;
   
}
